* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    padding: 20px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.bg {
    background-color: gainsboro;
}

.sz {
    margin: 15px;
}

.a {
    text-align: center;
}

.left {
    padding-left: 380px;
}